<h1>Sandwich Details</h1>
<h2>Sandwich name: <%= @my_sandwich.name %></h2>
<h3>Bread type: <%= @my_sandwich.bread_type %></h3>
<h4>Total calories: <%= @total_calories %></h4>

<p>Ingredients(Calories): </p>
<ul>
  <% @sandwich_ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p>Available Ingredients: </p>
<% @ingredients.each do |ingredient| %>
  <%= button_to ingredient.name, add_ingredient_path,'data-ingredient-id':ingredient.id, 'data-sandwich-id':@my_sandwich.id %>
<% end %>
